* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.day .date,
.day .author,
.day .headline,
.entry {
  display: none;
}

.day {
  width: 260px;
  height: 260px;
  margin: 40px auto;
  padding: 40px;
  position: relative;
}

.day ol {
  padding: 0;
  margin: 0;
}

.day li {
  list-style: none;
  position: absolute;
  padding: 10px;
}

.day .label {
  display: none;
}

.day .remember {
  font-weight: normal;
  font-size: 18px;
  width: 180px;
  height: 180px;
  padding: 40px 24px;
  margin: 0;
  border: 2px solid black;
}

.day .travel {
  top: 0;
  left: 40px;
  width: 180px;
}

.day .days-lived {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  top: 220px;
  left: 0;
}

.day .dream-remembered {
  top: 41px;
  right: 41px;
  background: black;
  display: block;
  padding: 0;
  width: 2px;
  height: 18px;
  text-indent: 100%;
  overflow: hidden;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.day .dream-lucid {
  display: block;
  top: 53px;
  right: 53px;
  padding: 2px;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  text-indent: 100%;
  overflow: hidden;
}

.day .sleep-problems {
  top: 220px;
  left: 0;
  width: 40px;
  text-align: center;
}

.day .wake-time {
  top: 220px;
  left: 40px;
}

.day .sleep-time {
  top: 220px;
  right: 40px;
}

.day .self-time {
  top: 41px;
  left: 41px;
}

.day .meaningful-interactions {
  top: 41px;
  left: 75px;
  width: 30px;
  text-align: center;
}

.day .wrote-letter {
  top: 41px;
  left: 105px;
  padding: 10px 5px;
}

.day .act-of-compassion {
  top: 41px;
  left: 130px;
  padding: 10px 5px;
}

.day .meditation {
  top: 41px;
  right: 56px;
  background: black;
  display: block;
  padding: 0;
  width: 2px;
  height: 24px;
  text-indent: 100%;
  overflow: hidden;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}

.day .social-media {
  top: 40px;
  right: 0;
  width: 40px;
  text-align: center;
  font-size: 21px;
}

.day .learning {
  top: 41px;
  right: 55px;
}

.day .exercise {
  top: 180px;
  left: 41px;
}

.day .nutrition {
  top: 180px;
  right: 41px;
}

.day .raw-food-only {
  bottom: 41px;
  right: 56px;
  background: black;
  display: block;
  padding: 0;
  width: 2px;
  height: 24px;
  text-indent: 100%;
  overflow: hidden;
  transform: rotate(45deg);
  transform-origin: 0 24px;
}

.day .bowel-movements {
  bottom: 40px;
  right: 0;
  width: 40px;
  text-align: center;
}

.day .eating-late {
  bottom: 67px;
  right: 0;
  width: 40px;
  text-align: center;
}

.day .raw-food-days {
  bottom: 90px;
  right: 0;
  width: 40px;
  text-align: center;
}

.day .overeating {
  bottom: 120px;
  right: 0;
  width: 40px;
  text-align: center;
  padding-bottom: 5px;
}
