* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.day .date,
.day .author,
.day .headline,
.entry {
  display: none;
}

.day {
  width: 260px;
  height: 260px;
  margin: 40px auto;
  padding: 40px;
  /* background: #eee; */
  position: relative;
}

.day ol {
  padding: 0;
  margin: 0;
}

.day li {
  list-style: none;
  position: absolute;
}

.day .label {
  display: none;
}

.day .remember {
  font-weight: normal;
  font-size: 18px;
  width: 180px;
  height: 180px;
  padding: 40px 24px;
  margin: 0;
  border: 1px solid black;
}

.day .travel {
  top: 8px;
  left: 40px;
}

.day .days-lived {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  top: 220px;
  left: 12px;
}

.day .dream-remembered {
  top: 40px;
  right: 40px;
  display: none;
}

.day .dream-lucid {
  top: 40px;
  right: 40px;
  display: none;
}

.day .sleep-problems {
  top: 230px;
  left: 18px;
}

.day .wake-time {
  top: 230px;
  left: 40px;
}

.day .sleep-time {
  top: 230px;
  right: 40px;
}

.day .self-time {
  top: 45px;
  left: 50px;
  font-size: 24px;
}

.day .meaningful-interactions {
  top: 50px;
  left: 65px;
}

.day .wrote-letter {
  top: 50px;
  left: 87px;
}

.day .act-of-compassion {
  top: 50px;
  left: 112px;
}

.day .meditation {
  top: 50px;
  right: 20px;
  display: none;
}

.day .social-media {
  top: 45px;
  right: 15px;
  font-size: 21px;
}

.day .learning {
  top: 50px;
  right: 65px;
}

.day .exercise {
  top: 190px;
  left: 52px;
}

.day .nutrition {
  top: 190px;
  right: 52px;
}

.day .raw-food-only {
  bottom: 90px;
  right: 20px;
  display: none;
}

.day .bowel-movements {
  bottom: 40px;
  right: 20px;
}

.day .eating-late {
  bottom: 65px;
  right: 20px;
}

.day .raw-food-days {
  bottom: 90px;
  right: 20px;
}

.day .overeating {
  bottom: 115px;
  right: 16px;
}
