* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.day .date,
.day .author,
.day .headline,
.entry {
  display: none;
}

.day {
  width: 260px;
  height: 260px;
  margin: 40px auto;
  padding: 40px;
  /* background: #eee; */
  position: relative;
}

.day .headline {
  font-weight: normal;
  font-size: 18px;
  width: 180px;
  height: 180px;
  padding: 20px;
  margin: 0;
  border: 1px solid black;
}

/*
.day p,
.day ul,
.day li {
  display: none;
}
*/

.day ol {
  padding: 0;
}

.day li {
  list-style: none;
}

.day .travel {
  display: block;
}

.day .label {
  display: none;
}


.day .travel span[itemprop="addressLocality"] {
  display: block;
  position: absolute;
  top: 0;
  left: 40px;
}

.day .travel span[itemprop="addressLocality"]:before {
  content: "⇨";
  margin-right: 6px;
}
